@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
	font-family: "Inter", sans-serif;
	color: black;
}
aside {
	font-family: "Karla", sans-serif;
	background-color: #1cd1b0;
	font-size: 20px;
	text-align: left;
	padding: 10px;
}
.fondo {
	background-image: url("../img/fondo.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.frontend {
	padding: 5px;
	text-align: center;
}
h1 {
	text-align: left;
	padding-left: 30px;
}
h1:hover {
	transform-origin: top;
	transform: rotate(2deg);
}

h3:hover {
	/* transform: translate(50px, 15px); */
	transform: scale(1.2);
}

h3 {
	font-family: "Karla", sans-serif;
}
a {
	text-align: center;
	display: inline-block;
	color: #00669f;
}
