@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap");

@font-face {
	font-family: "Playfair Display";
	src: local("Playfair Display Italic"), local("PlayfairDisplay-Italic"),
		url(../fonts/PlayfairDisplay-Italic.ttf);
	font-style: italic;
}
h1 {
	font-family: "Playfair Display", serif;
}
body {
	font-family: "Inter", sans-serif;
}
.banner {
	background-image: url(../img/lemon-pie.png);
	background-size: cover;
	background-position: center;
	height: 300px;
	color: white;
	font-family: "Roboto Slab", serif;
	padding: 20px;
}

.contenido {
	padding: 20px;
}
