@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

* {
	box-sizing: border-box;
}
body {
	--color-blue: #00669f;
	margin: auto;
}

aside {
	font-family: "Roboto", sans-serif;
	background-color: #1cd1b0;
	font-size: 18px;
	padding: 5px;
}

.logo-y-nombre-tienda {
	background-color: var(--color-blue);
	height: 70px;
	padding-left: 2%;
	position: sticky;
	top: 0px;
	z-index: 20;
	display: block;
	position: relative;
}
.logo1 {
	background: url(../img/logo1.png);
}
.nombre-tienda {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	color: white;
	padding-top: 25px;
	display: inline;
	margin-top: 0;
	position: absolute;
}
/* -------------DIV LOGIN----------- */
fieldset {
	border-style: none;
}
.caja-mayor {
	box-sizing: border-box;
	width: 600px;
	height: 610px;
	position: relative;
}
.form {
	display: block;
	box-sizing: border-box;
	width: 400px;
	height: 350px;
	position: absolute;
	margin: 80px 250px;
}

.login {
	text-align: left;
	font-family: "Inter", sans-serif;
	margin: 40px 70px 40px 5px;
	font-size: 50px;
	line-height: 28px;
}
input {
	margin: 10px;
	width: 400px;
	line-height: 40px;
}
select {
	margin: 10px;
	width: 400px;
	height: 50px;
}
.botones {
	width: 700px;
	margin-top: 0px;
}

.resetear,
.entrar {
	text-align: center;
	border-style: none;
	font-size: 14px;
	padding: 1px;
	display: inline;
	border-radius: 25px;
	box-sizing: border-box;
	width: 200px;
	height: 40px;
	margin: 30px 5px 5px 10px;
}

.resetear {
	color: rgb(241, 220, 220);
	background-color: grey;
}

.entrarLogin {
	text-align: center;
	border-style: none;
	color: black;
	width: 400px;
	padding: 1px;
	border-radius: 25px;
	box-sizing: border-box;
	background-color: #1cd1b0;
	margin: 30px 5px 5px 10px;
}
.entrar {
	/*  */
	color: black;
	padding: 1px;
	background-color: #1cd1b0;
	margin: 30px 1px 10px 1px;
}

.no-tienes {
	font-family: "Karla", sans-serif;
	width: 420px;
	display: block;
	box-sizing: border-box;
	text-align: center;
	color: var(--color-blue);
}
a {
	color: black;
}
footer {
	background-color: var(--color-blue);
	height: 50px;
	display: block;
}

#derechos {
	font-family: "Roboto", sans-serif;
	padding: 10px 25px 10px;
	color: white;
	font-size: 16px;
	text-align: center;
	/* position: absolute; */
}
