@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

body {
	background-color: aliceblue;
	font-family: "Inter", sans-serif;
	margin: 0;
}
header {
	background-color: #ddd;
	line-height: 2;
	text-align: center;
}
main {
	margin: 50px auto;
	max-width: 800px;
}
section {
	margin-top: 30px;
}
h1 {
	background-color: #bfbfbf;
	font-family: Cambria, Times, serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #1f497d;
	font-size: 24px;
	word-spacing: 1em;
}

h2 {
	padding-left: 15px;
	background-color: #bfbfbf;
	font-family: Cambria, Times, serif;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #632423;
	font-size: 18px;
}
li,
dt,
dd {
	padding-left: 15px;
	font-style: normal;
	/* font-variant: small-caps; */
}
#foto {
	height: 200px;
	border-radius: 10%;
}

#nombre {
	font-weight: bold;
}

.boldItalic {
	font-style: italic;
	font-weight: bold;
}

footer {
	background-color: #1f497d;
	color: #ddd;
	font-size: 24px;
	text-align: center;
}
.img-link {
	height: 20px;
	width: 20px;
}
